<%= provide :title, @post.title %>
<div class="row">
  <div class="image col-md-4">
    <%= link_to gravatar_for(@post.user), @post.user %>
    <span class="user"><%= link_to @post.user.full_name, @post.user %></span>
    <span class="title"><%= @post.title %></span>
    <span class="content"><%= @post.content %></span>
    <span class="post-img">
      <%= image_tag @post.picture.url if @post.picture? %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words @post.created_at %> <%= t ".ago" %>
      <% if current_user? @post.user %>
      <%= link_to t(".delete"), @post, method: :delete, data: {confirm: t(".confirm")} %>
      <% end %>
    </span>
  </div>
  <div class="content col-md-8 ">
  <%= will_paginate @comments, class: "pagination12" %>
    <ul class="comments">
      <%= render @comments %>
    </ul>
    <% if logged_in? %>
    <div class="comment-form">
      <%= render "shared/comment_form" %>
    </div>
    <% end %>
  </div>
</div>

